:root{
    --primary-color:gold;
    --bg-color:linear-gradient(135deg, #1a1a1a, #111);
    --text-color:white;
    --sectext-color:gray;
}


html[theme="light"]{
    --primary-color:gold;
    --bg-color:white;
    --text-color:black;
    
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden; /* prevent horizontal scroll */
}
* {
  box-sizing: inherit;
}




* {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}


.side{
    display: flex;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
}


.myside{
    width: 18%;
}